@model List<BingoWebApp.Models.CartItems>
@{
    ViewData["Title"] = "Create";
}
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/CartItems.css">
<button class="back-button" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>

@if (Model.Count>0)
{
    <div class="cart-items">
        @foreach (var item in Model)
        {
            <div class="cart-item">
                <img src="@item.ImageUrl" alt="Product 1">
                <h3>@item.ProductName</h3>
                <p>@item.Description</p>
                <span class="price">$ @item.Price</span>
                <div class="buttons">
                    <button class="remove-button">Remove</button>
                    <button class="order-button">Buy     </button>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="noItems">No items in the cart</p>
}
